@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main style="background-color: #f3f3f4;background: url(/sakura.png) 100% 100% no-repeat;background-attachment:fixed">
  

        <article class="content px-4" >
            @Body
        </article>
    </main>
</div>
